<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Declare the ability to query apps that handle phone calls. (Required by Part 2) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />

            <data android:scheme="tel" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Required permissions by Part 2 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WIA2007_ZeroHunger"
        tools:targetApi="31">
        <activity
            android:name=".Part5.P5_SavingsGuide4FMT"
            android:exported="false" />
        <activity
            android:name=".Part5.P5_SavingsGuide3FMT"
            android:exported="false" />
        <activity
            android:name=".Part5.P5_SavingsGuide2FMT"
            android:exported="false" />
        <activity
            android:name=".Part5.P5_SavingsGuide1FMT"
            android:exported="false" />
        <activity
            android:name=".Part5.reader.P5_SavingGuide1FMT"
            android:exported="false" />
        <activity
            android:name=".Part5.P5_Insurance5FMT"
            android:exported="false" />
        <activity
            android:name=".Part5.P5_Insurance4FMT"
            android:exported="false" />
        <activity
            android:name=".Part5.P5_Insurance3FMT"
            android:exported="false" />
        <activity
            android:name=".Part5.P5_Insurance2FMT"
            android:exported="false" />
        <activity
            android:name=".Part5.P5_Insurance1FMT"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Part3.MainActivityPart3"
            android:exported="false" />
        <activity
            android:name=".Part4.ExpertDirectoryActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.SpecialAwardActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.ScheduleAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.MyConsultationActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.MainActivityPart4"
            android:exported="false" />
        <activity
            android:name=".Part4.ExpertDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.CourseListActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.CourseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.ConsultationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.AgriLabActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.AgriIQActivity"
            android:exported="false" />
        <activity
            android:name=".Part4.AgriAidActivity"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S9a"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBi6RE-l9AUuFCr0q8fMKHG25FVn56k-5g" />

        <activity
            android:name=".Part5.MainActivityPart5S10"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S9"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S8"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S7"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S6"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S5"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S4"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S3"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S2"
            android:exported="false" />
        <activity
            android:name=".Part5.MainActivityPart5S1"
            android:exported="false" />
        <activity
            android:name=".Part1.soil_analysis.CropResultActivity"
            android:exported="false" />
        <activity
            android:name=".Part1.soil_analysis.CropRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".Part1.soil_analysis.SoilAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".Part1.MainActivityP1"
            android:exported="false" />
        <activity
            android:name=".Part1.soil_analysis.MainSoilActivity"
            android:exported="false" />
        <activity
            android:name=".Part1.view.WeatherNext4Activity"
            android:exported="false" />
        <activity
            android:name=".Part1.view.WeatherActivity"
            android:exported="false" />
        <activity
            android:name=".Part1.view.MainWeatherActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities -->
        <activity
            android:name=".Part2.page16"
            android:exported="false" />
        <activity
            android:name=".Part2.GoogleMap_P2"
            android:exported="false"
            android:label="@string/title_activity_google_map_p2" />
        <activity
            android:name=".Part2.page23"
            android:exported="false" />
        <activity
            android:name=".Part2.page21"
            android:exported="false" />
        <activity
            android:name=".Part2.page20"
            android:exported="false" />
        <activity
            android:name=".Part2.page19"
            android:exported="false" />
        <activity
            android:name=".Part2.page18"
            android:exported="false" />
        <activity
            android:name=".Part2.page17"
            android:exported="false" /> <!-- Foreground Service -->
        <service
            android:name=".Part2.MyNavigationService_P2"
            android:foregroundServiceType="location" />
    </application>

</manifest>